<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="welcome">
        <h2>sharenaへようこそ！</h2>
        <div class="new_image">
          <%= image_tag("top.jpg") %>
          <p><br>
            グルメサイトsharena(シェアナ)はグルメ情報を<br>
            地図情報とともに記録する情報共有サイトです。
          </p>
          <p>
            気になるお店やオススメのお店など、<br>
            ぜひ共有してみてください！
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="welcome">
        <h2>新規ユーザー登録</h2>
          <div class="field">
            <%= f.label :名前 %><span class="required">＊</span><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><span class="required">＊</span><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :アイコン画像 %><br>
          </div>

          <div class="field">
            <%= attachment_image_tag @user, :profile_image, class:"img-squere", id: :img_prev, fallback: "no_image.jpg", size:"200x200" %><br>
          </div>
          <div class="field">
            <%= f.attachment_field :profile_image, id: :user_img %>
          </div>
          <script type="text/javascript">
            $(function() {
              function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $('#img_prev').attr('src', e.target.result);
                }
               reader.readAsDataURL(input.files[0]);
              }
             }
            $("#user_img").change(function(){
                readURL(this);
             });
            });
          </script>

          <div class="field">
            <%= f.label :パスワード %><span class="required">＊</span><br />
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :確認用パスワード %><span class="required">＊</span><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="attention">
            <p> ※「<span class="required">＊</span>」の付いている項目は必須項目です。</p>
          </div>

          <div class="actions">
            <%= f.submit "新規登録する", class:"btn btn-primary" %>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

