<% if user_signed_in? %>
  <p>いいね！：
    <% if current_user.already_favorited?(restaurant) %>
        <%= link_to restaurant_favorites_path(restaurant), method: :delete, remote: true do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;">
                <%= restaurant.favorites.count %>
            </i>
        <% end %>
    <% else %>
        <%= link_to restaurant_favorites_path(restaurant), method: :post, remote: true do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: #C0C0C0;">
                <%= restaurant.favorites.count %>
            </i>
        <% end %>
    <% end %>
    <% else %>
    <i class="fa fa-heart" aria-hidden="true">
            <%= restaurant.favorites.count %>
    </i>
  </p>
<% end %>