<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% @restaurants.each do |restaurant| %>
<%= restaurant.name %>
<% end %>
<div id="map">
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
//Map表示
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    // handler.getMap().setCenter(new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>)); //初期位置設定
    // handler.getMap().setZoom(15); //拡大率設定
  });
</script>

<!-- フォロー機能 -->
<div class="follower">
      <%= link_to followers_user_path(@user.id) do %>
          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
      <% end %>
  </div>
  <div class="follow">
      <%= link_to followed_user_path(@user.id) do %>
                <h5 style="color: black;">フォロー<%= @user.followed.count %>人</h5>
      <% end %>
  </div>
  <div>
      <%= render "follow_form" %>
  </div>


