<h2>gmap</h2>

<%= render "map" %>
<%= render "getposition" %>

<article id ="index">
  <div class="container">
    <div class="row">
      <section class="restaurants col-md-12">
        <h2>最近の投稿</h2>
        <div class="row">
          <% @restaurants.order(created_at: "DESC").first(8).each do |restaurant| %>
          <div class="content col-md-3">
            <p><%= attachment_image_tag restaurant, :restaurant_image, size: "170x170", class: "img-100 pull-left profile-thumb", fallback: "no_image.jpg" %></p>
            <p>店名：<%= restaurant.name %></p>
            <p>住所：<%= restaurant.address %></p>
            <p>投稿者：<%= restaurant.user.name %></p>
            <p><%= link_to restaurant_path(restaurant) do %>
              詳細
              <% end %></p>
            </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
</article>



<!--
<dev class= "restaurant_serch">
  <%= form_with(model: @restaurants, url: restaurants_path, method: :get, local: true) do |f| %>
    <a>場所絞り込み（ 例：大阪府大阪市 )：<%= @address if @address %></a><br>
      <% if @address %>
        <%= f.text_field :address, value: @address %>
      <% else %>
        <%= f.text_field :address %>
      <% end %>
      <%= submit_tag "絞り込み", class: "btn btn-success" %>
  <% end %>
</dev>
<%= @place_search %>
-->
