<h2>トップページ</h2>

<%= render "map" %>

<div class="container">
  <div clss="row">
     <div class="search">
      <h4>(ユーザー名・店名・地名)で検索を行う</h4>
       <%= search_form_for @q, url: root_path do |f| %>
       <%= f.search_field :name_or_user_name_or_address_cont %>
       <%= f.submit "検索", class: "btn btn-primary" %>
       <% end %>
       <p><strong>or</strong></p>
    </div>
    <div class="getposition">
      <h4>現在地から探す</h4>
      <%= render "getposition" %>
    </div>
  </div>
</div>

<article id ="index">
  <div class="container">
    <div class="row">
      <section class="restaurants col-md-12">
        <h2>最近の投稿</h2>
        <div class="row">
          <% @restaurants.order(created_at: "DESC").first(8).each do |restaurant| %>
          <div class="content col-md-3">
            <p><%= attachment_image_tag restaurant, :restaurant_image, size: "170x170", class: "img-100 pull-left profile-thumb", fallback: "no_image.jpg" %></p>
            <p>店名：<%= restaurant.name %></p>
            <p>住所：<%= restaurant.address %></p>
            <p>投稿者：<%= link_to user_path(restaurant.user_id) do %>
              <%= restaurant.user.name %>
              <% end %>
                <%= attachment_image_tag restaurant.user, :profile_image, size: "40x40", fallback: "no_image.jpg", class:"img-circle" %>
              </p>
            <p><%= link_to restaurant_path(restaurant) do %>
              詳細を見る
              <% end %></p>
            </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
</article>
