<!DOCTYPE html>
<html>
  <head>
    <title>Sharena</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/74b3b69fe2.js" crossorigin="anonymous"></script>

    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

  </head>

  <header>
    <nav class="navbar navbar-expand">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <%= link_to "-sharena-", root_path %></div>
          </div>
          <div class="navbar-nav navbar-right">
            <% if user_signed_in? %>
            <ul class="list-inline">
              <li>ようこそ <%= current_user.name %>さん！</li>
              <li><%= link_to "新規投稿", new_restaurant_path %></li>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
            <% end %>
        </div>
      </div>
    </nav>
  </header>

   <body>
    <%= yield %>
  </body>
</html>
